[Unit]
Description=Jenkins Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop jenkins
ExecStartPre=-/usr/bin/docker rm jenkins
ExecStartPre=/usr/bin/docker pull quay.io/shazchaudhry/docker-jenkins
ExecStart=/usr/bin/docker run --rm --name jenkins --publish 8080:8080 --volume /var/run/docker.sock:/var/run/docker.sock quay.io/shazchaudhry/docker-jenkins

[Install]
WantedBy=multi-user.target
